$background_color: white;
$main_font: 'Poppins', sans-serif;
$font_first_color: rgba(108, 161, 145, 0.836);
$second_color: White;
$third_color: yellow;
$font_tile: 24px;
$font_text: 16px;
$border-fotos:black;
$second_font: 'Dancing Script', cursive;


